mixin symbol
    each sym in StockSym
        .symbol-data
            p
                a(href=`/stocks/${sym}`, class="symbol")=sym
            

            .symbol-params
                //- 1 week
                //- RSI 
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X
                
                //- Stoch
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- StochRSI
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- MACD
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- 2 week
                //- RSI 
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X
                
                //- Stoch
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- StochRSI
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- MACD
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X
                
                //- 1 month
                //- RSI 
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X
                
                //- Stoch
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- StochRSI
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X

                //- MACD
                if num <= 30
                    p.pass-test &#x2713
                else  
                    p.fail-test X



mixin symbolCard()
    each sym in StockData

        .main-card
            div.card-comp-info 
                p=sym.sym
                p=sym.name
            .time-frame-card 
                .top-time-frame 
                    div 
                        p 1 week
                    
                    div 
                        p 2 week 
                div 
                    p 1 month



html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        
        link(type="text/css", rel='stylesheet', href='css/style.css')
        link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Dashboard | #{title}

    body

        // header 
        include _header
        
        //- .int-indicator 
        //-     .interval-div 
        //-         .time-frame 
        //-             p 1 week
        //-         .indicator-row
        //-             p rsi 
        //-             p stoch 
        //-             p stochRSI 
        //-             p MACD
            
        //-     .interval-div 
        //-         .time-frame  
        //-             p 2 week
        //-         .indicator-row
        //-             p rsi 
        //-             p stoch 
        //-             p stochRSI 
        //-             p macd
            
            
        //-     .interval-div 
        //-         .time-frame  
        //-             p 1 month
        //-         .indicator-row
        //-             p rsi 
        //-             p stoch 
        //-             p stochRSI 
        //-             p MACD


        .syms
            //- +symbol()
            //- each name in StockName
            +symbolCard()
            


            // FOOTER
        //- include _footer

        script(src="/scripts/script.js") 