a {
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(223, 223, 223);
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav input {
  width: 15rem;
  height: 1.5rem;
}

nav button {
  width: 3.5rem;
  border-radius: 15px;
}

footer {
  background-color: rgb(160, 204, 198);
}

/* Symbol styles */
/* .syms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.symbol {
  border-bottom: black 1px solid;
  width: 100%;
}

.symbol-data {
  display: flex;
  flex-direction: row;
}

.symbol-params {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pass-test {
  color: green;
}

.fail-test {
  color: red;
} */

/* Indicator div */
.int-indicator {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.time-frame {
  text-align: center;
}

.interval-div {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.indicator-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Equity Card */
.main-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(168, 168, 168);
  margin: 3rem;
  border-radius: 16px;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.521);
}

.card-comp-info {
  padding-left: 1.7rem;
}

.time-frame-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-time-frame {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
}
